# Force.com files and folders
salesforce.schema
Referenced Packages/
.settings/
.project

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Rails files and folders
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.DS_Store
config/database.yml
.sass-cache/

# Compiled Python files
*.pyc

# Sublime Text - MavensMate project configs
*.sublime-project
*.sublime-workspace
*.sublime-settings
config/
